<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/libs/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/libs/css/admin.css}" rel="stylesheet" media="screen"/>
    <link rel="shortcut icon"
          th:href="@{/libs/css/favicon.ico}">

</head>
<body>
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="top-navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/klt">Currency Exchanger</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/klt/convert">Convert</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>